@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
.axis line,
.axis path {
  fill: none;
  stroke: #000;
}

.title {
  text-anchor: middle;
}

.axis text {
  font-size: 10px;
}

.bar {
  fill: green;
  opacity: .4;
}

label.btn {
  margin: 5px;
}

.btn-group {
  margin: 20px;
}

.rect {
  position: absolute;
  background-color: black;
}

#vis {
  position:relative;
}

.select, .metric {
  display: inline-block;
}


.count {
  font-size: 20px;
  position: fixed;
  right: 10px;
  top: 135px;
}

h3 {
  clear: both;
}

.metric {
  width: 40%;
  margin-left: 4%;
  float: left;
}

.d3-tip {
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: green;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 3px;
  min-width: 100px;
  text-align: center;
}